<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3" >
	<Applications>
		<!-- Win -->
		<!--<Application
			Name="ImportDataWin"
			FileName="[WinAppBin]\ImportData.Win.exe"
			AdapterAssemblyName="[WinAdapterAssemblyName]"
			CommunicationPort="4100"/>-->
    <Application Name="IntecoAG.XAFExt.CDS.Sample.Win" FileName="[WinAppBin]\IntecoAG.XAFExt.CDS.Sample.Win.exe" AdapterAssemblyName="[WinAdapterAssemblyName]" CommunicationPort="4100" />
    <!-- Web -->
		<Application
			Name="ImportDataWeb"
			Url="http://localhost:4030"
			PhysicalPath="[WebAppBin]"
			AdapterAssemblyName="[WebAdapterAssemblyName]"/>
		<!-- For IIS -->
		<!--Application
			Name="[SolutionName]Web"
			Url="http://localhost/ImportData.Web/Default.aspx"
			AdapterAssemblyName="[WebAdapterAssemblyName]"/-->
	</Applications>
	<TestDatabases>
		<!--<Database xsi:type="TestMSSQLDatabase" Server="(local)" DBName="ImportDataEasyTest" />-->
    <Database xsi:type="TestAccessDatabase"
          DBSourceLocation="c:\PROJECTS\IntecoAG.XAFExt\IntecoAG.XAFExt.CDS\IntecoAG.XAFExt.CDS.Tests.Win\bin\Debug\IntecoAG.XAFExt.CDS.Tests.mdb"
          DBName="AccessTestDatabase"/>
  </TestDatabases>

	<Aliases>
		<Alias Name="WinAdapterAssemblyName" Value="DevExpress.ExpressApp.EasyTest.WinAdapter.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		<Alias Name="WebAdapterAssemblyName" Value="DevExpress.ExpressApp.EasyTest.WebAdapter.v17.2, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		<Alias Name="WinAppBin" Value="c:\PROJECTS\IntecoAG.XAFExt\IntecoAG.XAFExt.CDS\IntecoAG.XAFExt.CDS.Tests.Win\bin\Debug" />
		<Alias Name="WebAppBin" Value="Write path to the win application here." />
	</Aliases>
</Options>
